{% extends 'portfolio/base.html' %}
{% block title %}About | Kristian Roberts Portfolio{% endblock %}
{% block content %}
<div class="about-hero">
    <h1 class="about-name">About Me</h1>
</div>

<div class="about-resume">
    <p class="about-resume-text"> <a href="/static/files/resume.pdf" target="_blank">Download my Resume</a> </p>
</div>

<div class="about-intro">
    <p>Hello! I'm Kristian Roberts, a passionate software developer with experience in building web applications and
        software solutions. I enjoy creating efficient and user-friendly applications that solve real-world problems. My
        expertise includes front-end and back-end development, as well as working with various programming languages and
        frameworks.</p>
    <p>In my free time, I love exploring new technologies, contributing to open-source projects, and continuously
        improving my skills. Feel free to explore my portfolio to see some of the projects I've worked on, and don't
        hesitate to reach out if you'd like to collaborate or have any questions!</p>
</div>
{% endblock %}