{% extends 'portfolio/base.html' %}
{% block title %}Projects | Kristian Roberts Portfolio{% endblock %}
{% block content %}
<div class="projects-hero">
    <h1 class="projects-name">Projects</h1>
</div>

<div class="projects-list">
    {% for project in projects %}
    <div class="projects-item">
        <h2 class="projects-title">{{ project.title }}</h2>
        <p><a href="{{ project.github_url }}" target="_blank">GitHub Repository</a></p>
        {% if project.live_link %}
        <p><a href="{{ project.live_link }}" target="_blank">Live Project</a></p>
        {% endif %}
        <p class="projects-description">{{ project.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}