{% extends 'portfolio/base.html' %}
{% block title %}Projects | Kristian Roberts Portfolio{% endblock %}
{% block content %}
<div class="projects-hero">
    <h1 class="projects-name">Projects</h1>
</div>

<div class="projects-list">
    <div class="project-item">
        <h2 class="project-title">NeuralPet</h2>
        <p class="project-description">Description of Project 1.</p>
    </div>
    <div class="project-item">
        <h2 class="project-title">Project 2</h2>
        <p class="project-description">Description of Project 2.</p>
    </div>
    <!-- Add more project items as needed -->
</div>
{% endblock %}