/* font setup */
@font-face {
    font-family: 'Apple Chancery';
    src: url('../fonts/applechancery.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poetical';
    src: url('../fonts/poetical_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Base page setup */
body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #000000;
    color: #ffffff;
}

.page-content {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    justify-items: start;
    align-items: start;
}

/* footer setup */
.site-footer {
    grid-column: 1 / -1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    padding: 1rem;
}

.site-contact {
    grid-column: 1;
    justify-self: start;
    text-align: left;
}

.site-nav {
    grid-column: 2;
    justify-self: center;
}


/* Home page set up */
.home-hero {
    text-align: left;
    margin: 0 0 0 .5rem;
    transform: translateY(-12px);
}

.home-name {
    margin-top: 0.5rem;
    font-family: 'Apple Chancery';
    font-size: 3rem;

}

.home-title {
    margin-top: -1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    font-style: italic;
}

.home-intro {
    place-self: center;
    width: min(20ch, 92vw);
    padding: 1.25rem 1.5rem;
    text-align: center;
    font-family: 'Poetical';
    font-size: clamp(4rem, 3.2vw, 5rem);
    font-weight: 400;
}

/* Projects page set up */

.projects-hero {
    text-align: left;
    margin: 0 0 0 .5rem;
    transform: translateY(-12px);
}

.projects-name {
    margin-top: 0.5rem;
    font-family: 'Apple Chancery';
    font-size: 3rem;
}

.projects-list {
    place-self: center;
    width: min(56ch, 90vw);
    padding: 1.25rem 1.5rem;
    font-size: 1.55rem;
}

.projects-description {
    font-family: 'Lora', Georgia;
    font-size: 1.25rem;
}

/* About page set up */
.about-hero {
    text-align: left;
    margin: 0 0 0 .5rem;
    transform: translateY(-12px);
}

.about-name {
    margin-top: 0.5rem;
    font-family: 'Apple Chancery';
    font-size: 3rem;
}

.about-resume {
    place-self: center;
    align-self: start;
    width: min(56ch, 90vw);
    font-family: 'Lora', Georgia;
    font-size: 1.25rem;
}

.about-intro {
    place-self: center;
    width: min(56ch, 90vw);
    padding: 1.25rem 1.5rem;
    font-family: 'Lora', Georgia;
    font-size: 1.55rem;
}

.about-resume,
.about-intro {
    margin-top: 0;
    transform: translateY(-4rem);
    /* change this value to move both evenly */
}